.to-do
	align-items center
	border-bottom 1px solid black
	display flex
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	font-weight 300
	height 45px
	justify-content space-between
	width 530px

	&:last-child
		border-bottom none

.to-do__info--complete
	text-decoration line-through

.to-do__completion
	margin-right 50px